Body {
	background-color: azure
}
/*this a comment*/
h1 {
	background-color: darkseagreen;
	text-align: center
}
h2 {
	background-color: red;
	text-align: left
}
h3 {
	background-color: red;
	text-align: left
}
p {
	color: khaki;
	text-align: justify
}
/*this is a id selector*/
#paragraph-1 {
	background-color: navy;
}
#paragraph-1 .second {
	color: yellow;
}
#paragraph-2 {
	background-color: black;
}
/*this is a class*/
.second {
	background-color: chocolate;
	font-size: 15px
}